# 의존성 캐시 및 빌드 결과물
node_modules/
dist/
.env

# Yarn Berry 관련 파일
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS 및 에디터 관련 파일
.DS_Store
.vscode/

# 테스트 관련 파일
/coverage

# 임시 파일
*.tmp